/* header{
  background: rebeccapurple;
} */

/* selector de clase */

/* .link */

/* selector de id */

/* #portafolio */

/* Gris oscuro: #1d252c;
gris claro: #626262;
background gris: #1b2127; 
Celeste: #026fff; */

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  /*Fijar cabecera padding-top: 70px; Relleno superior igual a la altura de la cabecera*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}
h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: white;
  margin: 0px;
  /* margin: 100px 520px 70px 30px; */
  /* text-transform: uppercase;
  text-decoration: underline; */
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
h1 strong {
  color: #026fff;
}

.hero {
  /* background: url("../img/hero.jpg"), #1b2127; */
  /*background-size: 500px 300px;
  height: 300px;
  background-repeat: no-repeat; 
    background-position-x: right;*/
  display: flex; /*Esto hace que el elemento se ubique dentro del alto que se le asigno*/
  background-color: #1b2127;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-image {
  object-fit: cover; /*redimenciona la imagen para que no se vea tan fea*/
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; este seria el color que hereda toda la clase */
  /* border-color: red; */
  /* border-width: 15px;
  border-style: solid; */
  /* border-top-left-radius: 50px; */
  /* margin: 10px; El portafolio ya le esta dando un espaciado interno*/
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex; /*Me permite tener un elemento al lado de otro*/
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-descripton {
  font-size: 20px;
}
/* .project-date {
} */
.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.project-details {
  width: 50%;
  /* height: 100px; */
}
.project-imageContainer {
  width: 50%;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}
.project div {
  line-height: 20px;
}
.project-imageContainer img{
  max-width: 100%;
}


.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center; /* Centro el contenido verticalmente */
  justify-content: space-between; /*Centro el contenido horizontalmente*/
  flex-wrap: wrap;
  /* Fijar cabecera mas otra propiedad que esta en el body
  width: 100%; hacemos que la cabecera ocupe el ancho completo de la página
	left: 0;  Posicionamos la cabecera al lado izquierdo
	top: 0;  Posicionamos la cabecera pegada arriba 
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
.header a {
  color: white;
  text-decoration: dashed;
  display: flex;
}
.header ol {
  display: flex;
  height: inherit;
  /*Este no es el lugar adecuado para centrar los elementos veriticalmente "align-items: center;"*/
}
.header ol li {
  height: inherit;
}
/*Se pasaron las propiedades hasta el ultimo elemento hijo para que en la página se pueda selecionar con un clic en todo su alto ya que esta heredando de su padres esa medidad */
.header a {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 10px; /*Cero arriba y abajo & 10 para la izq y derecha*/
}

.menu {
  height: inherit; /*esta proiedad hace que herede (inherit) de su etiqueta padre y lo podemos revisar en el modelo de caja que nos ofrece el inspector de elementos*/
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;
  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer img {
  vertical-align: middle; /*Centro el texto dentro del eje Y*/
  justify-content: space-between;
}
.footer a {
  color: white;
}

.event {
  /* border: 1px solid red; */
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden; /*Cuando un elemento se desborde del elemmto .event se va a ocultar*/
  background: #f4fbff;
}
.event-list-title {
  margin-left: 20px;
}
.event-list {
  display: flex; /*Esto se aplica al elemento padre para que sus elemetos hijos adquieran la propiedad*/
  flex-wrap: wrap; /* Es como un ajuste de línea para que los elementos bajen en vez de segir y generar scrollbar */
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover; /*Adapta el contenido según el alto y ancho de su contenedor*/
}
.event-detail {
  margin: 20px 40px; /*separa del contendor que lo contiene en este caso article*/
  margin-top: -40px; /*Ahora esta por encima de la imagen que es el otro elemento*/
  background-color: white;
  position: relative;
  padding: 20px; /*Para que el texto no se junte con las paredes del elemento que lo contiene*/
  text-align: center; /*Alineado de los textos*/
}
.event-description {
  text-align: left;
}
.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: 	flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social {
  /* border: 1px solid red; */
}
.social-link {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  /* border: 1px solid white; */
  background-size: 50px 50px;
}
.social-link.twitter /*puedo poner varias clases segidas de esta forma*/ {
  background-image: url('../img/twitter.svg');
}
.social-link.facebook {
  background-image: url('../img/facebook.svg');
}
.social-link.github {
  background-image: url('../img/github.svg');
}
.social-link.instagram {
  background-image: url('../img/instagram.svg');
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 45px;
  background: url('../img/envelope.svg') 15px 15px no-repeat white; /*junto a esto coloque el background-size y luego de las medidas background-repeat*/
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  display: block;
  margin-top: 8px;
  background: transparent;
  color: white;
  padding: 10px 30px;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
  /*margin: 10px auto 0; 10px arriba, auto derecha e izquierda, 0 abajo*/
}
.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  /* border: 1px solid red; usado para depurar los estilos */
  /* width: 100%; */
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
}

/* desktop first, para este comienza desde la Media Querr más grande */

@media screen and (max-width: 1024px) {

}

/* Un pixel más abajo del Ipad */
@media screen and (max-width: 767px) { 
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    flex: 1;
    justify-content: center;
  }
  .header .logo {
    text-align: center;
  }
  .project {
    display: block;
  }
  .project-imageContainer{
    width: auto;
    text-align: center;
  }
  .project-details{
    width: auto;
    /* font-size: 10px; */
  }
  .project-course, .project-date, .project-url {
    margin: .4em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-course {
    font-size: .7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-descripton {
    font-size: 8em;
  }

  .event {
    width:auto;
    flex-shrink: initial; /*O puede quitarlo de allá ariba donde esta el elemnto padre*/
  }
  .event img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .project-details{
    font-size: 12px;
  }

  .event-detail {
    margin: 2em .5px .5px;
    padding: 1em;
  }
}

@media screen and (max-width: 320px) {

}